@font-face {
    font-family: 'InterTightBold';
    src: url('./assets/InterTight-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'InterTightLight';
    src: url('./assets/InterTight-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InterTightExtraLight';
    src: url('./assets/InterTight-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
