@import './fonts.scss';


    //color
    $background-color: #23163E;
    $header-menu-color: rgba(35, 22, 62, 0.4);
    $white-color: #FFFFFF;
    $white-color-transparent: rgba(255, 255, 255, 0.64);
    $container-color: #2f224a;
    $primary-color: #f30745;
    $image-hover-color: rgba(0, 0, 0, 0.64);
    $footer-color: rgba(0, 0, 0, 0.48);
    $cookie-color:rgba(0, 0, 0, 0.8);


    //fonts
    $font-menu: 'InterTightLight';
    $font-title: 'InterTightBold';
    $font-subTitle: 'InterTightLight';
    $font-text: 'InterTightExtraLight';
