@import '../../../../app/styles/vars.scss';
@import '../../../../app/styles/media-queries.scss';

.sliderToolkitContainer {
    width: 1117px;
    padding: 36px 0px 64px 0px;
    gap: 60px;

    @include tablet-l {
        width: 800px; 
    }

    @include tablet-m {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 590px;
    }

    @include mobile-l {
        width: 335px; 
    }

    @include mobile-m {
        width: 300px; 
    }

    > div {
        width: 100%;
        gap: 44px;

        &:nth-child(2) {
            position: relative;
            border-bottom: 1px solid $container-color;
            gap: 44px;
        } 

        .underline {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            background-color: $primary-color;
            width: 100%;
            transform: scaleX(0);
            transform-origin: left;
        }
        .active .underline {
            transform: scaleX(1);
        }
    }
}

