@import "../../../app/styles/vars.scss";
@import "../../../app/styles/media-queries.scss";


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $font-title;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 125%;
    padding: 10px 14px;
    gap: 3px;
    border-radius: 8px;
    width: 180px;
    height: 40px;

    &.default {
        background-color: $white-color;
        color: $background-color;
    }

    &.primery {
        background-color: $primary-color;
        color: $white-color;
    }

    &.openQuestion {
        width: 20px;
        height: 32px;
    }
}

