@import "../../../app/styles/vars.scss";
@import "../../../app/styles/media-queries.scss";


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $font-title;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 125%;
    padding: 10px 14px;
    gap: 3px;
    border-radius: 8px;
    width: 180px;
    height: 40px;

    &.default {
        background-color: $white-color;
        color: $background-color;

        @include responsive($mobile-m) {
            width: 120px;
            font-size: 14px;
        }
    }

    &.defaultCreate {
        background-color: $white-color;
        color: $background-color;
        width: 250px;
        gap:10px;
    }

    &.primery {
        background-color: $primary-color;
        color: $white-color;
    }

    &.openQuestion {
        width: 20px;
        height: 32px;
    }

    &.transparent {
        background-color: transparent;
        color: $white-color;
    }

    &.toolkit {
        position: relative;
        background-color: transparent;
        color: $white-color;
        padding: 12px 8px;
        width: auto;
        height: 44px;
        border-radius: 0;
    }

    &.allow {
        background-color: transparent;
        width: 50px;
        height: 50px;
    }

    &.menu {
        background-color: transparent;
        padding: 0;
        width: 40px;
        height: 40px;
    }
}

