@import '../../../../app/styles/media-queries.scss';

.featuresContainer {
    width: 1117px;
    padding: 12px 0px 64px 0px;

    @include tablet-l {
        width: 800px; 
    }

    @include tablet-m {
        width: 590px;
    }

    @include mobile-l {
        display: flex;
        flex-direction: column;
        padding: 36px 0px 34px 0px;
        width: 335px; 
    }

    @include mobile-m {
        width: 320px; 
    }
    > div {
        width: 100%;
        gap: 24px;


        @include mobile-l {
            display: flex;
            flex-direction: column;
        }
    }
}