@import '../../../../app/styles/vars.scss';
@import '../../../../app/styles/media-queries.scss';


.posterItemContainer {
    width: 1117px;
    height: 100%;


    @include tablet-l {
        width: 800px; 
    }


    @include mobile-l {
        display: flex;
        flex-direction: column;
        width: 335px; 
    }

    @include mobile-m {
        width: 320px; 
    }


    > div {
        width: 550px;
        gap: 32px;


        @include tablet-l {
            width: 400px; 
            height: 300px;
        }

        @include mobile-l{
            width: 335px;

        > div:nth-child(1) {
            margin-top: 40px;
            text-align: center;
        }

        @include mobile-m {
            width: 300px; 
        }

            > button {
                align-self: center;
            }
        }



        > img {
            opacity: 0.6;
            height: 326px;
            width: 530px;

            @include tablet-l {
                width: 400px; 
                height: 280px;
                margin-bottom: -50px;
            }

            @include mobile-l {
                width: 365px; 
                height: 260px;
                margin-bottom: -50px;
            }
        }


        >div {
            width: 100%;
            gap: 8px;

            > p {
                font-family: $font-text;
                color: $white-color;
                font-size: 18px;
                line-height: 140%;

                @include mobile-l {
                    text-align: center;
                }
            }
        }
    }
}

.posterItemAlternativeContainer {
    width: 590px;
    height: 100%;
    gap: 50px;

    > div {
        > div {
            gap: 30px;
            > img {
                opacity: 0.6;
                width: 330px; 
                height: 240px;
                margin-bottom: -60px;
            }

            > div {
                > p {
                    font-family: $font-text;
                    color: $white-color;
                    font-size: 18px;
                    line-height: 140%;
                }
            }
        }
    }
}

