@import '../../../../app/styles/vars.scss';
@import '../../../../app/styles/media-queries.scss';

.featuresItemContainer {
    background-color: $container-color;
    border-radius: 16px;
    padding: 28px;
    width: 356px;
    height: 156px;
    gap: 8px;

    @include tablet-m {
        height: 200px;
    }

    @include mobile-l {
        width: 335px;
        height: 156px;
    }

    > p {
        font-family: $font-text;
        color: $white-color-transparent;
        font-size: 16px;
        line-height: 125%;
        text-align: left;
    }
}