@import '../../../../app/styles/vars.scss';
@import '../../../../app/styles/media-queries.scss';


.headerContainer {
    width: 1117px;
    height: 500px;
    gap: 30px;
    background-image: url('../../../../../public/images/logoVector.svg');
    background-repeat: no-repeat;
    background-position: center top;

    @include tablet-l {
        width: 800px; 
        height: 500px; 
    }

    @include tablet-m {
        background-size: 600px;
        width: 590px; 
        height: 500px; 
    }

    @include mobile-l {
        width: 300px; 
        height: 450px; 
        background-image: none;
    }


    > div {
        gap: 10px;

        > h1 {
            font-family: $font-title;
            color: $white-color;
            text-align: center;
            font-size: 58px;
            line-height: 100%;
            letter-spacing: 2px;

            @include mobile-l {
                width: 250px; 
                font-size: 40px;
            }
        }
    
        > p {
            font-family: $font-text;
            color: $white-color;
            text-align: center;
            font-size: 22px;
            line-height: 140%;
            letter-spacing: 0.55px;

            @include mobile-l {
                width: 250px; 
                font-size: 14px;
            }
        }
    }

}