@import '../../../../../../app/styles/vars.scss';

.headerTopMenuItemContainer {
    > ul > a {
        color: $white-color;
        font-family: $font-menu;
        font-size: 16px;
        line-height: 120%;
    }
}