@import './../../../app/styles/vars.scss';

.sectionTitleContainer {
    width: 100%;

    > h1 {
        font-family: $font-title;
        color: $white-color;

        font-size: 36px;
        line-height: 111%;
        letter-spacing: 1px;
    }
}