@import './../../../app/styles/vars.scss';

.sectionTitleContainer {
    width: 100%;
    margin: 50px;

    > h1 {
        font-family: $font-title;
        color: $white-color;
        text-align: center;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 1px;
    }
}