@import '../../../../../../app/styles/vars.scss';

.headerTopMenuContainer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: $header-menu-color;
    backdrop-filter: blur(24px);

    .headerTopMenu {
        padding: 20px 0px;
        height: 100%;
        width: 1117px;

        .menuItem {
            gap: 36px;
        }
    }
}