@import '../../../../app/styles/vars.scss';
@import '../../../../app/styles/media-queries.scss';

.posterContainer{
    width: 100%;
    padding: 36px 0px 64px 0px;

    > div {
        width: 100%;
        height: 326px;
        background-image: url('../../../../../public/images/poster.png');
        background-size: cover; 
        background-position: center;

        @include tablet-m {
            height: 400px;
        }

        @include mobile-l {
            height: 560px;
            overflow: hidden;
        }
    }
}