@import '../../../../app/styles/vars.scss';
@import '../../../../app/styles/media-queries.scss';

.posterContainer{
    width: 100%;
    padding: 36px 0px 64px 0px;

    @include mobile-l {
        padding: 36px 0px 34px 0px;
    }

    > div {
        width: 100%;
        height: 326px;
        background-image: url('../../../../../public/images/poster.png');
        background-size: cover; 
        background-position: center;
        overflow: hidden;

        @include tablet-m {
            height: 400px;
        }

        @include mobile-l {
            height: 560px;
        }

        @include mobile-m {
            width: 320px; 
        }
    }
}