@import '../../../../app/styles/vars.scss';
@import '../../../../app/styles/media-queries.scss';

.questionsContainer {
    width: 1117px;
    padding: 36px 0px 64px 0px;
    gap: 24px;

    @include tablet-l {
        width: 800px; 
    }

    @include tablet-m {
        width: 590px;
        
    }

    @include mobile-l {
        padding: 36px 0px 34px 0px;
        width: 335px; 
    }

    @include mobile-m {
        width: 320px; 
    }

    > div {
        gap: 16px;
    }
}