@import '../../../app/styles/vars.scss';

.titleContainer {
    > h3 {
        color: $white-color;
        font-family: $font-subTitle;
        text-align: left;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 1px;
    }
}